<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        table,th,td{
            width: 60%;
            border:1px solid;
            border-collapse: collapse;
        }
    </style>
</head>


<body>

    <div>
        {% for orden in ordens %}
            <div>
                <label for="">{{orden.name}}</label>
            </div>
            <div>

                <label for="">{{orden.phone}}</label>
            </div>
        
    </div>   
    
        
        {% endfor %}
   
</body>
</html>